<div>
  <div class="navbar">
    <app-navbar-user></app-navbar-user>
    <button
      class="btn btn-outline-primary text-dark"
      type="button"
      style="
        border-width: 3px;
        border-color: #0d6efd;
        color: #012970;
        font-size: 20px;
      "
    >
      <i class="bi bi-pencil-fill" style="margin-right: 10px"></i>Solicitar
    </button>
  </div>
  <div class="schedule">
    <div class="form-group date-picker-container">
      <label class="form-label" for="personalSelect"
        >Rango de dias horario:</label
      >
      <div class="dp-hidden position-absolute">
        <div class="input-group">
          <input
            name="datepicker"
            class="form-control"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="1"
            [dayTemplate]="dateTemplate"
            outsideDays="hidden"
            [startDate]="fromDate!"
            tabindex="-1"
          />
          <ng-template #dateTemplate let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>
      <div class="input-group">
        <input
          #dpDateRange
          class="form-control"
          placeholder="yyyy-mm-dd - yyyy-mm-dd"
          name="dpDateRange"
          [value]="
            formatter.format(fromDate) + '  /  ' + formatter.format(toDate)
          "
          (click)="datepicker.toggle()"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="datepicker.toggle()"
          type="button"
        ></button>
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="search_date()"
        >
          <i class="bi bi-search" style="margin-right: 10px"></i>Buscar
        </button>
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="reload_date()"
        >
          <i class="bi bi-arrow-clockwise" style="margin-right: 10px"></i
          >Restablecer
        </button>
      </div>
    </div>
    <div class="no-schedules-message" *ngIf="rowData.length < 1 && !isLoading">
      <span
        >No existen horarios dentro del rango de fechas seleccionado, por favor
        selecciona otro rango de fechas.</span
      >
    </div>

    <!-- animacion de carga -->
    <div
      *ngIf="isLoading"
      class="d-flex align-items-center justify-content-center"
    >
      <div class="spinner-container">
        <div class="spinner"></div>
        <p class="loading-text">Cargando...</p>
      </div>
    </div>

    <!-- tabla -->
    <div class="table-schedule" *ngIf="rowData.length >= 1 && !isLoading">
      <ag-grid-angular
        style="width: 100%; height: 500px"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
