<form class="modal-form-permission" [formGroup]="FormData">
    <div class="d-flex justify-content-between">
        <div class="mb-3" style="flex: 1;">
            <h1 class="title-data">Solicitud</h1>
        </div>
        <div class="d-flex align-items-center">

        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-4 form-group">
                <label for="tipoSolicitud">Tipo de Solicitud:</label>
                <select class="form-select" formControlName="type_solicitud" id="tipoSolicitud"
                    (change)="get_type_solicitud()">
                    <option value="" selected>Seleccione</option>
                    <option value="permsiso">Permisos</option>
                    <option value="cambio_de_horario">Cambio de horario</option>
                </select>

            </div>
            <div class="col-4 form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" formControlName="name" readonly>
            </div>
            <div class="col-4 form-group">
                <label>Cargo:</label>
                <input type="text" class="form-control" formControlName="position" readonly>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-3 form-group">
                <label class="form-label">Fecha de permiso</label>
                <div class="input-group">
                    <input class="form-control" name="date_permiso" formControlName="permission_date" ngbDatepicker
                        #date_permiso="ngbDatepicker" [minDate]="today" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="date_permiso.toggle()"
                        type="button"></button>
                </div>
            </div>

            <div class="col-3 form-group">
                <label for="tipoPermiso">Tipo de Permiso:</label>
                <select class="form-select" formControlName="permission_type">
                    <option value="" selected>Seleccione</option>
                    <option value="tiempo_completo">Día Completo</option>
                    <option value="hora">Por Horas</option>
                </select>
            </div>
            <div class="col-6 form-group">
                <label>Adjuntar Archivo:</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)" accept="application/pdf">
            </div>

        </div>
        <div class="form-group custom-form-group">
            <span>Rango de permiso</span>
            <div class="container-rango row">
                <div class="hour1 col-6">
                    <label class="form-label" for="timeSelect">Inicio:</label>
                    <input type="time" class="form-control" formControlName="range_init_operation" />
                </div>
                <div class="hour2 col-6">
                    <label class="form-label" for="timeSelect">Final:</label>
                    <input type="time" class="form-control" formControlName="range_finish_operation" />
                </div>
            </div>
        </div>
        <div class="form-group text-motivo">
            <label for="motivo">Motivo:</label>
            <textarea class="form-control" id="motivo" formControlName="reason" rows="3"
                placeholder="Motivo de la solicitud"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!valid_form" (click)="save_solicitud()">Enviar
            Solicitud</button>
    </div>
</form>